---
---

@import "minimal-mistakes";

/* -- Custom Styles -- */
.page__content p,
.page__content li,
.page__content dl {
  font-size: 0.85em; /* Adjust this value as needed */
}
/* -- Custom Avatar Styles -- */
.author__avatar img {
  /* --- Size --- */
  max-width: 180px !important;  /* Change this value to make it bigger or smaller */
  height: auto !important; /* Keep this the same as the width */
}

// .author__avatar {
//   opacity: 1;
// }

.sidebar .author__avatar a:hover,
.sidebar .author__avatar a:focus {
  opacity: 1;
}

.sidebar .author__avatar a {
  opacity: 1 !important;
}